@using Dot.Client.Layout
@page "/chat/{conversationId}"

<div class="chat-window">
    <div class="chat-history clearfix">
        @foreach (var entry in ChatEntries)
        {
            <div class="chat-bubble @(entry.IsUser ? "user" : "assistant")">
                @((MarkupString)entry.Content)
                @if (!string.IsNullOrWhiteSpace(entry.Thought))
                {
                    <button @onclick="() => ToggleThoughtVisibility(entry.Index)">@(entry.IsShowThought ? "Hide Thought" : "Show Thought")</button>
                    <div class="thought @(entry.IsShowThought ? "show" : "hidden")">
                        @((MarkupString)entry.Thought)
                    </div>
                }
            </div><!-- .chat-bubble -->
        }

        @if (messageStream.Any())
        {
            <div id="chat-latest-ai-response" class="chat-bubble assistant">
                @foreach (var message in messageStream)
                {
                    @((MarkupString)message)
                }
            </div><!-- .chat-latest-ai-response -->
        }
        <div id="scroll-target"></div>
    </div><!-- .chat-history -->

    <div class="chat-input">
        <div class="chat-input-box">
            <textarea @bind="messageInput" @onkeydown="SendOnEnter" label=" user-input" />
            <button @onclick="Send" disabled="@(!IsConnected || isThinking)"><MatIcon Icon="send"></MatIcon></button>
        </div><!-- .chat-input-box -->
    </div><!-- .chat-input -->
</div><!-- .chat-window -->